/*.row {   
    margin: 0px 16px;
    width: 1050px;
}*/

/*.panel panel-success{
   width: 980px;
}*/

.panel-content{
    padding: 5px
}

#mapCanvas {
	width:680px;
    height: 500px;
    /*float: left;
    margin: 0px 16px;*/
}

#sidebar {
    width:300px;
    height: 500px;
    overflow:auto;
}

.googft-info-window td{
background-color: yellow;

}
